.videoCard {
  color: white;
  width: 400px;
  height: 360px;
  padding: 20px;
  transition: all 0.1s;

  &:hover {
    transform: scale(1.09);
  }

  & img {
    height: 240px;
    object-fit: contain;
    width: 400px;
  }

  & h2 {
    padding-top: 10px;
  }

  &__stats {
    display: none;

    &-appear {
      display: flex;
      justify-content: space-between;

      &-likes {
        display: flex;
        align-items: center;
      }
    }
  }

  &:hover > .videoCard__stats {
    display: inline;
  }
}
